{{> head }}
{{> navbar }}

<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <h1>Page About</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum dicta velit reprehenderit pariatur autem,
        quidem est laborum. Omnis numquam voluptatem natus quos sed ad quia tempora harum, magnam fuga similique.</p>
    </div>

    <div class="col-4">
      <img src="assets/img/img.jpg" class="img-thumbnail">
    </div>
  </div>
</div>

{{> footer }}