{{> head }}

{{> navbar }}

<div class="jumbotron">
  <h1 class="display-4">Hello, {{capitalize name}}</h1>
  <p class="lead">My first site web with NodeJs and HBS</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Information</a>
</div>

{{> footer }}